# 0.0 IMPORTS

In [155]:
import pandas as pd
import numpy as np
import inflection
import os

from datetime import datetime
from sklearn import model_selection as ms

## 0.1 Loading Data

In [2]:
path = 'C:/Users/edils/repos/leilao_fechamento/data/5_minutos/'

In [90]:
df_raw_list = []

for file in os.listdir(path):
    if file.endswith('.csv'):
        filename_path = os.path.join(path, file)
        df = pd.read_csv(filename_path, encoding='iso-8859-1', sep=';')
        df_raw_list.append(df)

In [91]:
df_raw = pd.concat(df_raw_list, axis=0)

In [106]:
df_raw.head()

,Ativo,Data,Hora,Abertura,Máximo,Mínimo,Fechamento,Volume,Quantidade
0,AALR3,04/05/2023,16:50:00,"22,58","22,62","22,58","22,62","1.863.812,00",82.4
1,AALR3,04/05/2023,16:45:00,"22,59","22,59","22,57","22,59","63.206,00",2.8
2,AALR3,04/05/2023,16:40:00,"22,59","22,60","22,57","22,60","83.560,00",3.7
3,AALR3,04/05/2023,16:35:00,"22,54","22,59","22,52","22,59","595.579,00",26.4
4,AALR3,04/05/2023,16:30:00,"22,54","22,57","22,54","22,56","173.678,00",7.7

## 0.2 Create Response Variable

In [ ]:
#df_raw['Variação'] = df

## 0.3 Split Train-Test

In [ ]:
X_train, X_test, y_train, y_test = ms.train_test_split()

## 0.4 Helper Functions

In [144]:
def data_types(df1):
    #abertura
    df1['abertura'] = df1['abertura'].apply(lambda x: x.replace(',','.'))
    df1['abertura'] = df1['abertura'].astype(float)

    #maximo
    df1['maximo'] = df1['maximo'].apply(lambda x: x.replace(',','.'))
    df1['maximo'] = df1['maximo'].astype(float)

    #minimo
    df1['minimo'] = df1['minimo'].apply(lambda x: x.replace(',','.'))
    df1['minimo'] = df1['minimo'].astype(float)

    #fechamento
    df1['fechamento'] = df1['fechamento'].apply(lambda x: x.replace(',','.'))
    df1['fechamento'] = df1['fechamento'].astype(float)

    #volume
    df1['volume'] = df1['volume'].apply(lambda x: x.replace(".", "").replace(",", "."))
    df1['volume'] = df1['volume'].astype(float)

    #quantidade
    df1['quantidade'] = df1['quantidade'].apply(lambda x: x.replace(".", "") if isinstance(x, str) else x)
    df1['quantidade'] = df1['quantidade'].apply(lambda x: float(x))

    #data
    df1['data'] = df1['data'].apply(lambda x: x.replace('/','-'))
    df1['data'] = df1['data'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y"))
    df1['data'] = pd.to_datetime(df1['data'], format='%d-%m-%Y')
    df1['hora'] = df1['hora'].apply(lambda x: datetime.strptime(x, "%H:%M:%S"))
    
    return df1

def rename_columns(df1):
    cols_old = df1.columns
    cols_new = cols_old.map(lambda x: inflection.underscore(x))
    df1.columns = cols_new
    df1 = df1.rename(columns={'máximo': 'maximo', 'mínimo':'minimo'})
    
    return df1

# 1.0 DATA DESCRIPTION

In [145]:
df1 = df_raw.copy()

In [146]:
df1.head()

,Ativo,Data,Hora,Abertura,Máximo,Mínimo,Fechamento,Volume,Quantidade
0,AALR3,04/05/2023,16:50:00,"22,58","22,62","22,58","22,62","1.863.812,00",82.4
1,AALR3,04/05/2023,16:45:00,"22,59","22,59","22,57","22,59","63.206,00",2.8
2,AALR3,04/05/2023,16:40:00,"22,59","22,60","22,57","22,60","83.560,00",3.7
3,AALR3,04/05/2023,16:35:00,"22,54","22,59","22,52","22,59","595.579,00",26.4
4,AALR3,04/05/2023,16:30:00,"22,54","22,57","22,54","22,56","173.678,00",7.7

## 1.1 Rename Columns

In [147]:
df1 = rename_columns(df1)

## 1.2 Data Types

In [152]:
df1.dtypes

ativo                 object
data          datetime64[ns]
hora          datetime64[ns]
abertura             float64
maximo               float64
minimo               float64
fechamento           float64
volume               float64
quantidade           float64
dtype: object

In [149]:
df1 = data_types(df1)

## 1.3 Check NA

In [150]:
df1.isna().sum()

ativo         0
data          0
hora          0
abertura      0
maximo        0
minimo        0
fechamento    0
volume        0
quantidade    0
dtype: int64

## 1.4 Data Shape

In [151]:
df1.shape

(3670298, 9)